html, body {
  display: flex;
  flex-direction: column;
  background-color: #00000008;
}

header {
  height: 52em;
  padding-top: 30px;
  background-image: url('../src/bg_image1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  background-attachment: local;
}

footer {
  height: 20%;
}

.blog_header {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  justify-content: space-between;
  background-color: #00000033;
}

.blog_nav {
  margin: 10px;
}

.setting_btn {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}

.setting_icon {
  font-size: 30px;
  margin: 5px;
}

.search {
  display: flex;
  border-radius: 10px;
  margin: 10px;
}

.search_bar {
  border-radius: 10px;
}

.search_btn {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.search_icon {
  font-size: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.profile_btn {
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: gray;
  background-image: url('../src/Black.png');
  width: 6rem;
  height: 6rem;
}

.profile_name {
  margin-left: 1rem;
  font-size: 2rem;
}

.profile_name a {
  text-decoration: none;
  color: black;
}

.menu_nav {
  margin-top: 30px;
  height: inherit;
  background-color: #ffffff00;
}

.menu_list {
  padding: 0px;
  margin: 0px;
  height: inherit;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  list-style: none;
}

.menu_list li {
  margin: 0px;

  display: flex;
  flex-grow: 1;

  font-size: 30px;
}

.menu_list li a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: white;
}

.menu_list li a:hover {
  background-color: rgb(192, 192, 192);
  color: black;
}

.menu_list li a:focus {
  background-color: rgb(192, 192, 192);
  color: black;
}
